resources:
  - ../../base

nameSuffix: -dev

commonLabels:
  environment: dev

patches:
  - target:
      kind: Deployment
      name: it-website-deployment
    patch: |
      - op: replace
        path: /spec/replicas
        value: 2
